{% extends 'base.html.twig' %}

{% block title %}ActivityInfo index{% endblock %}

{% block body %}
    <h1>ActivityInfo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>Priority</th>
                <th>Importance</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for activity_info in activity_infos %}
            <tr>
                <td>{{ activity_info.id }}</td>
                <td>{{ activity_info.description }}</td>
                <td>{{ activity_info.priority }}</td>
                <td>{{ activity_info.importance }}</td>
                <td>
                    <a href="{{ path('activity_info_show', {'id': activity_info.id}) }}">show</a>
                    <a href="{{ path('activity_info_edit', {'id': activity_info.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('activity_info_new') }}">Create new</a>
{% endblock %}
